

<div class="map-controls">
  <div class="logo-overlay">
    <img src="assets/images/logo.png" class="logo" alt="logo">
  </div>
  <div class="search-container">
    <input type="text" id="google-map-search" #googleMapSearch placeholder="Search locations">
  </div>
</div>

<div *ngIf="stations != null" class="my-google-map">
    <google-map id="google-map" [width]="null" [height]="null" [options]="mapOptions">

        <map-marker *ngFor="let stanica of stations; let i = index" #marker="mapMarker" [position]="stanica.location" [icon]="stanica.icon"  (mapClick)="openInfoWindow(marker, i) ">
            <map-info-window> 

                <app-bubble [stanica]="stanica"></app-bubble>

            </map-info-window>

        </map-marker>

    </google-map>
  </div>