.icon{
    width: 50px;
    height: 50px;
    text-align: center;
}
.topRow{
    cursor: pointer;
}

.topRow:hover{
    background-color: #ddd;
}

.activeTopRow{
    background-color: #dedede;
}

  
.logo-overlay {
    opacity: 0.6;
    /* Remove position, top, left, and z-index from here */
    display: inline-block;
    .logo {
      width: 100px;
      height: auto;
    }
  }




.scroll-container {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on touch devices */
  }
  
  
  
  .cardTop {
    padding: 10px;
    flex: 0 0 auto; 
    display: inline-block;
    width: 19.4%;
    margin: 5px;/* Flexbox settings for the cards */
    /* Add more styling for your cards */
  }
  
  
  
  @media (max-width: 576px) {
    .card-stats {
      min-width: 120px; /* Smaller min-width for small screens */
      /* Adjust font-sizes, paddings, etc. as needed */
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .card-stats {
      /* Adjust styles for medium-sized devices */
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
    .card-stats {
      /* Adjust styles for large devices */
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (max-width: 1200px) {
    .card-stats {
      /* Adjust styles for extra-large devices */
    }
  }