<div class="header bg-gradient-danger pb-8 pt-5 pt-md-3">
  <div class="container-fluid">
    <div class="logo-overlay"><img src="assets/images/logo.png" alt="logo" class="logo"></div>
    <a style="padding: 2rem 0rem;" class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block active"
      [routerLink]="'/'">Go back to the map</a>
  </div>
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="scroll-container">
          <div *ngFor="let topRow of top_row" class="col card-stats cardTop" (click)="setField(topRow)">
          <div [class.activeTopRow]="topRow.field==chart_field" class="topRow card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{topRow.field}}</h5>
                  <span class="h2 font-weight-bold mb-0">{{topRow.value}}</span>
                </div>
                <div class="col-auto">
                  <div [style.backgroundColor]="topRow.color" class="icon icon-shape text-white rounded-circle shadow">
                    <img width="35px" src="/assets/images/{{topRow.icon}}">
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="mr-2" [style.color]="topRow.increase<0?'red':'green'"> {{topRow.increase}}%</span>
                <span class="text-nowrap">since latest measurement</span>
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  


<div class="d-flex my-2 mx-1">
  <div class="flex-grow-1 card bg-gradient-default shadow mr-1">
    <div class="card-body px-1">
      <div class="card-header border-0" style="background-color: transparent;">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="mb-0" style="color:#73c546">Level of {{chart_field}} since {{range.value.start | date:"dd.MM.yyyy."}} until {{range.value.end | date:"dd.MM.yyyy."}}</h2>
          </div>
          
        </div>
      </div>
      <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}" (chartInstance)="getChartInstance($event)"
                      class="chart" />
    </div>
  </div>

  <div class="card shadow align-self-center ml-1">
    <div class="card-body py-1">
      <ul class="nav nav-pills justify-content-center mb-2">
        <li class="nav-item" (click)="setWeek()">
          <a href="javascript:void(0)" class="nav-link"
             [ngClass]="{ active: clicked === true }"
             data-toggle="tab" (click)="clicked = true; clicked1 = false">
            <span class="d-none d-md-block">Week</span>
            <span class="d-md-none">W</span>
          </a>
        </li>

        <li class="nav-item" (click)="setMonth()">
          <a href="javascript:void(0)" class="nav-link"
             [ngClass]="{ active: clicked1 === true }" 
             data-toggle="tab" (click)="clicked = false; clicked1 = true">
            <span class="d-none d-md-block">Month</span>
            <span class="d-md-none">M</span>
          </a>
        </li>
      </ul>

      <mat-form-field appearance="outline" class="mt-2">
        <mat-label>Custom range</mat-label>

        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Početni datum" />
          <input matEndDate formControlName="end" placeholder="Krajnji datum"
                 (dateChange)="updateCalcs(); paginator.firstPage()" />
        </mat-date-range-input>
        
        <mat-datepicker-toggle matIconSuffix [for]="picker" />
        <mat-date-range-picker #picker />

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">
          Invalid start date
        </mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">
          Invalid end date
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>


  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Last measurements</h2>
            </div>
            <div class="col text-right" style="display: flex;flex-direction: column;">

              <mat-paginator class="flex-grow-1" #paginator [length]="measurements?.length" pageSize="20"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="fetchNextPage($event)" />

              <div style="width: 100%;">

                <ul class="nav nav-pills justify-content-end mb-2">
                  <li class="nav-item" (click)="download()">
                    <a href="javascript:void(0)" class="nav-link active"
                       data-toggle="tab">
                      <span class="d-none d-md-block">Download</span>
                    </a>
                  </li>
                </ul>          
                
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date</th>
                <th scope="col" *ngFor="let metricName of keys">{{metricName}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let measurement of (measurements | slice: lowValue : highValue)">
                <th scope="row">
                  {{measurement.created_at | date:"dd.MM.yyyy. hh:mm"}}
                </th>

                <td *ngFor="let metricName of keys">
                  {{measurement.properties[metricName] | number : '1.2-2'}}
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>