body {
    background-color: #eee
}

h6{
    display: inline-block;
    padding-right: 10px;
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.progress {
    height: 10px;
    border-radius: 10px;
    background-color: #22c400;
}
.yellow_bar{

    background-color: #ffcc00 !important;
}
.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

h6{
    font-size: 10pt;
}